.PizzaApp {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.PizzaApp::after {
  content: "";
  background: url(../../assets/img/bg.jpg) no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.PizzaApp-header {
  background-color: #000000;
  color: #FFFFFF;
  padding: 1rem;
}
.PizzaApp-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PizzaApp-logo--icon,
.PizzaApp-logo--name {
  font-size: 1.5rem;
  margin: 0;
  margin-right: 0.3rem;
}
.PizzaApp-logo--name {
  color: #FAC564;
}
.PizzaApp-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #FFFFFF;
}

